@{
    ViewBag.Title = "Authentication Pending";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
    <br/>
    <h2>A verification email has been sent to your email account. Please check the account and follow the link contained therein.</h2>

