@{
    ViewBag.Title = "Contact";
}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <div class="hero-unit wt-jumbo">
                    <div class="jumbotext">
                        <hgroup class="title">
                            <h1>Contact Us <br><small>Feel free to contact us on any of the following:</small></h1>
                        </hgroup>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <section class="contact">
                <div class="row-fluid">
                    <div class="span12" id="address">
                        <img class="lift-img ct-img" src="@Url.Content("~/images/metro-assets/contacts.png")" alt="address">
                        <h2 class="text-center">Address</h2>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">Headquarters</h4>
                            <p>
                                Waterford Technologies<br />
                                Confederation House<br />
                                Cork Road<br />
                                Waterford<br />
                                Ireland
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">USA Office</h4>
                            <p>
                                Waterford Technologies<br />
                                19600 Fairchild, Suite 350<br />
                                Irvine, CA 92612<br />
                                USA
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">UK Office</h4>
                            <p>
                                Waterford Technologies<br />
                                Horton House<br />
                                Exchange Flags<br />
                                Liverpool<br />
                                L2 3PG<br />
                                UK
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12" id="phone">
                        <img class="lift-img ct-img" src="@Url.Content("~/images/metro-assets/phone.png")" alt="phone">
                        <h2 class="text-center">Phone</h2>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">Headquarters</h4>
                            <p>
                                +353 (0) 51 334 967
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">USA Office</h4>
                            <p>
                                +1 (949) 428 9300
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">UK Office</h4>
                            <p>
                                0845 378 0935
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12" id="mail">
                        <img class="lift-img ct-img" src="@Url.Content("~/images/metro-assets/mail.png")" alt="mail">
                        <h2 class="text-center">Mail</h2>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">Headquarters</h4>
                            <a href="mailto:#">
                                salesemea@waterfordtechnologies.com
                            </a>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">USA Office</h4>
                            <a href="mailto:#">
                                sales@waterfordtechnologies.com
                            </a>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="text-center spaced">
                            <h4 class="lead">UK Office</h4>
                            <a href="mailto:#">
                                salesemea@waterfordtechnologies.com
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        @Html.Partial("_Footer")
    </div>    
</div>